<!DOCTYPE html>
<md-content ng-repeat="slide in slides" id="{{slide.id}}" ng-style="{'width': '600px', 'position': 'absolute', 'transform': transform3d(slide), 'perspective': perspective3d(slide), 'perspective-origin': perspectiveOrigin3d(slide), 'transform-style': 'preserve-3d', 'transition': 'all 2s', 'z-index': slide.current.zIndex}">
<div class="list-group-item">
    <h3>Hello <em class="pull-right">Brother</em></h3>
    <h3>Hello <em class="pull-right">Brother</em></h3>
    <h3>Hello <em class="pull-right">Brother</em></h3>
    <h3>Hello <em class="pull-right">Brother</em></h3>
    <h3>Hello <em class="pull-right">Brother</em></h3>
</div>
</md-content>

