<div layout="column" flex layout-fill ng-cloak>
    <md-content>
        <section>
            <md-subheader>{{jarvis.configuration.jobs.length}} Jobs</md-subheader>
            <md-list layout-padding>
				<md-card ng-repeat="job in jobs">
				  <md-card-title>
				    <md-card-title-text>
				      <span class="md-headline">Job#{{job.id}}</span>
				      <span class="md-subhead">{{job.name}}</span>
				    </md-card-title-text>
				    <md-card-title-media>
				      <div class="md-media-sm card-media"></div>
				    </md-card-title-media>
				  </md-card-title>
				  <md-card-content>
				    <p>Plugin: {{job.plugin}}</p>
				    <p>Crontime: {{job.crontime}}</p>
				  </md-card-content>
				  <md-card-actions layout="row" layout-align="end center">
				    <md-button ng-click="delete(jarvis.configuration.jobs, job)">Del</md-button>
				    <md-button ng-click="new(jarvis.configuration.jobs)">New</md-button>
				    <md-button ng-if="!job.started" ng-click="status(job, true)">Start</md-button>
				    <md-button ng-if="job.started"  ng-click="status(job, false)">Stop</md-button>
				    <md-button ng-click="execute(job)">Run</md-button>
				    <md-button ng-click="go('jobs-id', {id:job.id})">+</md-button>
				  </md-card-actions>
				</md-card>
            </md-list>
        </section>
    </md-content>
</div>
