<md-content layout="column">
	<div layout="row">
	     <md-input-container>
	       <label translate="Name"></label>
	       <input ng-model="command.name"></input>
	     </md-input-container>
	</div>
	<div layout="row">
	     <md-input-container>
	       <label translate="command.type"></label>
	       <md-select ng-model="command.type">
	         <md-option ng-repeat="type in combo.types" value="{{type.id}}">
	           {{type.value | translate}}
	         </md-option>
	       </md-select>
	     </md-input-container>
	     <md-input-container>
	       <label translate="Icon"></label>
	       <input ng-model="command.icon"></input>
	     </md-input-container>
	</div>
	<div>
	    <md-icon md-font-icon="material-icons md-16" ng-click="pretty()">loop<md-tooltip md-direction="left">{{'command.tp.refresh' | translate}}</md-tooltip></md-icon>
	    <md-input-container style="width: 100%;">
		    <label translate="command.input"></label>
		    <textarea style="width: 100%;" ng-model="rawinput"></textarea>
	    </md-input-container>
	    <label translate="command.input"></label>
		<div hljs hljs-source="input"></div>
	    <md-icon md-font-icon="material-icons md-16" ng-click="save(command, execute)">backup<md-tooltip md-direction="left">{{'command.tp.exec' | translate}}</md-tooltip></md-icon>
	    <md-input-container style="width: 100%;">
		    <label translate="command.body"></label>
		    <textarea style="width: 100%;" ng-model="command.body"></textarea>
	    </md-input-container>
	    <label translate="command.source"></label>
		<div hljs hljs-source="command.body"></div>
	    <label translate="command.output"></label>
		<div hljs hljs-source="output"></div>
	</div>
</md-content>
