<div layout="row">
	<div>
	   <md-input-container>
		 <md-icon md-font-icon="material-icons md-16" ng-click="add(command)">add</md-icon>
	     <label translate="script.command"></label>
	     <md-select ng-model="command.id">
	       <md-option ng-repeat="command in combo.commands" value="{{command.id}}" translate="{{command.name}}">
	       </md-option>
	     </md-select>
	   </md-input-container>
	   <md-list>
		   	<md-list-item ng-repeat="command in commands">
		   		<div layout="column">
			        <md-icon md-font-icon="material-icons md-16" ng-click="drop(command)">delete</md-icon>
			        <md-icon md-font-icon="material-icons md-16" ng-click="execute(command)">loop</md-icon>
			    </div>
		   		<div class="md-list-item-text" layout="column">
		  		  <md-icon md-font-icon="material-icons md-16">{{command.icon}}</md-icon>
		  		  <code>{{command.type}}#{{command.id}} : {{command.name}} (instance {{command.instance}})</code><br>
		  		  <div hljs hljs-source="command.body"></div>
		        </div>
		   	</md-list-item>
	   </md-list>
	</div>
</div>
