<md-card>
  <md-card-title>Démontration du device {{myDevice.name}}</md-card-title>
  <md-card-content flex>
    <md-grid-list cols="1" rowHeight="128px">
      <md-grid-tile [style.background]="myDevice.tagColor">
        <md-grid-tile-header>
          <md-icon md-grid-avatar>{{myDevice.icon}}</md-icon>
          <h3>{{myDevice.name}}</h3>
        </md-grid-tile-header>
        <div [innerHTML]="getTemplate(myDevice)"></div>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</md-card>
