<div layout="column" ng-init="load()" ng-cloak>
	<h2>
		<md-button aria-label="menu" class="md-fab md-primary" ng-click="showBottomSheet($event)">
 		<md-icon md-font-icon="material-icons md-16">menu</md-icon></md-button>
  		<span>{{'command.one' | translate}} id#{{command.id}}</span>
	</h2>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{'command.general' | translate}}">
			<md-content layout-padding>
				<jarvis-command></jarvis-command>
			</md-content>
		</md-tab>
		<md-tab label="{{'command.input' | translate}}">
			<md-content>
				<jarvis-command-input></jarvis-command-input>
			</md-content>
		</md-tab>
		<md-tab label="{{'command.script' | translate}}">
			<md-content>
				<jarvis-command-script></jarvis-command-script>
			</md-content>
		</md-tab>
		<md-tab label="{{'command.output' | translate}}">
			<md-content>
				<jarvis-command-output></jarvis-command-output>
			</md-content>
		</md-tab>
	</md-tabs>
</div>