<p-growl [(value)]="msgs"></p-growl>
<mat-sidenav-container [style.height.px]="myInnerHeight" class="example-container">
    <p-toolbar>
        <div class="ui-toolbar-group-right">
            <button pButton (click)="showMenu()" type="button" icon="fa-bars"></button>
            <button pButton (click)="showMe()" type="button" icon="fa-address-card-o"></button>
            <button pButton (click)="showHelp()" type="button" icon="fa-podcast"></button>
        </div>
    </p-toolbar>
    <div>
        <router-outlet></router-outlet>
    </div>
    <mat-sidenav #sidenav class="example-sidenav">
        <div *ngIf="dispHelp" [innerHTML]="help"></div>
        <p-panelMenu *ngIf="dispMenu" [model]="items"></p-panelMenu>
    </mat-sidenav>
    <p-dialog appendTo="body" header="Me" [(visible)]="dispMe" modal="true">
        Email
        <input type="text" pInputText [(ngModel)]="me && me.attributes.email" disabled/>
    </p-dialog>
</mat-sidenav-container>
