<md-dialog aria-label="">
        <md-dialog-content>
			<div style="width: 1024px; height: 768px;" id="dataset-container"></div>
        </md-dialog-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Pick a node</h2>
                <span flex></span>
                <md-button class="md-icon-button">
                    <md-icon md-font-icon="material-icons md-16" ng-click="answer()">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
</md-dialog>