<md-dialog aria-label="Oauth2 clients selection"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Oauth2 clients selection</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-actions layout="column">
      <span flex></span>
      <md-button ng-click="answer({'client':'google'})">
       Google
      </md-button>
      <md-button ng-click="answer({'client':'facebook'})">
       Facebook
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
