<div layout="column">
     <div ng-repeat="cron in crons">
     	 <div layout="row">
			<md-button aria-label="menu" class="md-icon-button"><md-icon md-font-icon="material-icons md-16">{{cron.icon}}</md-icon></md-button>
			<md-input-container>
			  <label translate="cron.id"></label>
			  <input ng-model="cron.id" disabled>
			</md-input-container>
			<md-input-container>
			  <label translate="cron.order"></label>
			  <input ng-model="cron.extended.order">
			</md-input-container>
			<md-button aria-label="menu" class="md-icon-button" ng-click="links.crons.update(cron)"><md-icon md-font-icon="material-icons md-16">save</md-icon></md-button>
			<md-input-container flex>
			  <label translate="cron.name"></label>
			  <input ng-model="cron.name" disabled>
			</md-input-container>
			<md-button aria-label="menu" class="md-icon-button" ng-click="links.crons.drop(cron)"><md-icon md-font-icon="material-icons md-16">delete</md-icon></md-button>
	     </div>
     </div>
</div>
