<md-toolbar>
  <div class="md-toolbar-tools" layout-align="center">
    <h1><br>{{trigger.name}}<md-tooltip>trigger#{{trigger.id}}</md-tooltip></h1>
  </div>
  <md-fab-actions class="md-toolbar-tools">
	<md-button aria-label="menu" class="md-icon-button" ng-click="go('triggers')"><md-icon md-font-icon="material-icons md-16">clear</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="duplicate(trigger)"><md-icon md-font-icon="material-icons md-16">content_copy</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="remove(trigger)"><md-icon md-font-icon="material-icons md-16">delete</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="save(trigger)"><md-icon md-font-icon="material-icons md-16">save</md-icon></md-button>
  </md-fab-actions>
</md-toolbar>
<div layout="column" ng-init="load()" ng-cloak>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{'trigger.general' | translate}}">
			<md-content layout-padding>
				<jarvis-trigger></jarvis-trigger>
			</md-content>
		</md-tab>
		<md-tab label="{{'trigger.cron' | translate}}">
			<md-content layout-padding>
				<jarvis-trigger-cron></jarvis-trigger-cron>
			</md-content>
		</md-tab>
	</md-tabs>
</div>