<p-dataTable [value]="myResources" [rows]="10" [globalFilter]="gb" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <header>{{myResourceName}}</header>
    <p-column header="Icône">
      <template let-myResource="rowData" pTemplate type="body">
        <md-icon md-grid-avatar (click)="view(myResource)">{{myResource.icon}}</md-icon>
      </template>
    </p-column>
    <p-column field="id" header="Id" [filter]="true"></p-column>
    <p-column field="name" header="Name" [filter]="true"></p-column>
</p-dataTable>
