<div layout="column">
	<md-input-container>
	  <label translate="scenario.name"></label>
	  <input ng-model="scenario.name">
	</md-input-container>
	<md-input-container>
	  <label translate="scenario.icon"></label>
	  <input ng-model="scenario.icon">
	</md-input-container>
     <div ng-repeat="trigger in triggers">
     	 <div layout="row">
			<md-input-container flex>
			  <label translate="device.triggers"></label>
			  <input ng-model="trigger.name" disabled>
			</md-input-container>
			<md-button aria-label="menu" class="md-icon-button" ng-click="links.triggers.drop(trigger)"><md-icon md-font-icon="material-icons md-16">delete</md-icon></md-button>
	     </div>
     </div>
</div>
