<div layout="column">
     <md-input-container>
       <label translate="iot.address"></label>
       <input ng-model="iot.address">
     </md-input-container>
     <md-input-container>
       <label translate="iot.name"></label>
       <input ng-model="iot.name">
     </md-input-container>
     <md-input-container>
       <label translate="iot.owner"></label>
       <input ng-model="iot.owner" disabled>
     </md-input-container>
	 <md-switch ng-model="iot.visible" aria-label="{{'iot.visible' | translate}}">
		{{'iot.active' | translate}}
	 </md-switch>
     <md-input-container>
       <label translate="iot.icon"></label>
       <input ng-model="iot.icon">
     </md-input-container>
     <md-input-container>
       <label translate="iot.tagColor"></label>
       <input ng-model="iot.tagColor">
     </md-input-container>
     <md-input-container>
       <label translate="iot.tagTextColor"></label>
       <input ng-model="iot.tagTextColor">
     </md-input-container>
</div>
    