<div layout="column" ng-init="load()" ng-cloak>
	<h2>
		<md-button aria-label="menu" class="md-fab md-primary" ng-click="showBottomSheet($event)">
 		<md-icon md-font-icon="material-icons md-16">menu</md-icon></md-button>
  		<span>Iot #{{iot.id}}</span>
	</h2>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{'iot.general' | translate}}">
			<md-content layout-padding>
				<jarvis-iot></jarvis-iot>
			</md-content>
		</md-tab>
		<md-tab label="{{'iot.plugins' | translate}}">
			<md-content>
				<jarvis-iot-plugin></jarvis-iot-plugin>
			</md-content>
		</md-tab>
		<md-tab label="{{'iot.render' | translate}}">
			<md-content>
				<jarvis-iot-render></jarvis-iot-render>
			</md-content>
		</md-tab>
	</md-tabs>
</div>