<app-jarvis-toolbar-menu [actions]="this" [tasks]="[{'action':'test','icon':'cached','tooltip':'Test le block'},{'action':'execute','icon':'play_arrow','tooltip':'Execute le block'}]"
  [pickers]="[]"></app-jarvis-toolbar-menu>

<div *ngIf="myBlock">
  <p-accordion>
    <p-accordionTab header="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Nom
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myBlock.name" placeholder="Nom" />
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Icône
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myBlock.icon" placeholder="Icône" />
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Paramètres(s) JSON
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myBlock.testParameter" placeholder="{}}" />
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Expression
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myBlock.expression" placeholder="def i = 0" />
  </div>
</div>
</div>
</p-accordionTab>
<p-accordionTab header="Conditions">
  <app-jarvis-toolbar-resource [notified]="this" [actions]="[{'label':'Conditions', 'icon': 'fa-check', 'action':'conditionnalPlugins', 'picker': pickConditionnalPlugins}]"></app-jarvis-toolbar-resource>
  <p-dataTable [value]="myBlock.conditionnalPlugins">
    <header>Plugins</header>
    <p-column header="Ordre">
      <template let-plugin="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="plugin.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-plugin="rowData" pTemplate type="body">
        <button md-mini-fab md-tooltip="Mettre à jour le lien" (click)="updatePluginLink(plugin)"><md-icon>save</md-icon></button>
        <button md-mini-fab md-tooltip="Supprimer le lien" (click)="dropPluginLink(plugin, 'HREF_IF', myBlock.conditionnalPlugins)"><md-icon>delete</md-icon></button>
        <button md-mini-fab md-tooltip="Détail du lien" (click)="viewPluginLink(plugin)"><md-icon>zoom_in</md-icon></button>
        <button md-mini-fab md-tooltip="Détail" (click)="gotoPluginLink(plugin)"><md-icon>touch_app</md-icon></button>
      </template>
    </p-column>
  </p-dataTable>
</p-accordionTab>
<p-accordionTab header="Then">
  <app-jarvis-toolbar-resource [notified]="this" [actions]="[{'label':'Plugins', 'icon': 'fa-check', 'action':'thenPlugins', 'picker': pickThenPlugins},{'label':'Blocks', 'icon': 'fa-check', 'action':'thenBlocks', 'picker': pickThenBlocks}]"></app-jarvis-toolbar-resource>
  <p-dataTable [value]="myBlock.thenPlugins">
    <header>Plugins</header>
    <p-column header="Ordre">
      <template let-plugin="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="plugin.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-plugin="rowData" pTemplate type="body">
        <button md-mini-fab md-tooltip="Mettre à jour le lien" (click)="updatePluginLink(plugin)"><md-icon>save</md-icon></button>
        <button md-mini-fab md-tooltip="Supprimer le lien" (click)="dropPluginLink(plugin, 'HREF_THEN', myBlock.thenPlugins)"><md-icon>delete</md-icon></button>
        <button md-mini-fab md-tooltip="Détail" (click)="gotoPluginLink(plugin)"><md-icon>touch_app</md-icon></button>
      </template>
    </p-column>
  </p-dataTable>
  <p-dataTable [value]="myBlock.thenBlocks">
    <header>Blocks</header>
    <p-column header="Ordre">
      <template let-block="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="block.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-block="rowData" pTemplate type="body">
        <button md-mini-fab md-tooltip="Mettre à jour le lien" (click)="updateBlockLink(block)"><md-icon>save</md-icon></button>
        <button md-mini-fab md-tooltip="Supprimer le lien" (click)="dropBlockLink(block, 'HREF_THEN', myBlock.thenBlocks)"><md-icon>delete</md-icon></button>
        <button md-mini-fab md-tooltip="Détail" (click)="gotoBlockLink(block)"><md-icon>touch_app</md-icon></button>
      </template>
    </p-column>
  </p-dataTable>
</p-accordionTab>
<p-accordionTab header="Else">
  <app-jarvis-toolbar-resource [notified]="this" [actions]="[{'label':'Plugins', 'icon': 'fa-check', 'action':'elsePlugins', 'picker': pickElsePlugins},{'label':'Blocks', 'icon': 'fa-check', 'action':'elseBlocks', 'picker': pickElseBlocks}]"></app-jarvis-toolbar-resource>
  <p-dataTable [value]="myBlock.elsePlugins">
    <header>Plugins</header>
    <p-column header="Ordre">
      <template let-plugin="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="plugin.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-plugin="rowData" pTemplate type="body">
        <button md-mini-fab md-tooltip="Mettre à jour le lien" (click)="updatePluginLink(plugin)"><md-icon>save</md-icon></button>
        <button md-mini-fab md-tooltip="Supprimer le lien" (click)="dropPluginLink(plugin, 'HREF_ELSE', myBlock.elsePlugins)"><md-icon>delete</md-icon></button>
        <button md-mini-fab md-tooltip="Détail" (click)="gotoPluginLink(plugin)"><md-icon>touch_app</md-icon></button>
      </template>
    </p-column>
  </p-dataTable>
  <p-dataTable [value]="myBlock.elseBlocks">
    <header>Blocks</header>
    <p-column header="Ordre">
      <template let-block="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="block.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-block="rowData" pTemplate type="body">
        <button md-mini-fab md-tooltip="Mettre à jour le lien" (click)="updateBlockLink(block)"><md-icon>save</md-icon></button>
        <button md-mini-fab md-tooltip="Supprimer le lien" (click)="dropBlockLink(block, 'HREF_ELSE', myBlock.elseBlocks)"><md-icon>delete</md-icon></button>
        <button md-mini-fab md-tooltip="Détail" (click)="gotoBlockLink(block)"><md-icon>touch_app</md-icon></button>
      </template>
    </p-column>
  </p-dataTable>
</p-accordionTab>
</p-accordion>
</div>

<app-jarvis-picker #pickConditionnalPlugins [resource]="{'service':'plugins', 'action':'conditionnalPlugins', 'label':'Plugins'}"></app-jarvis-picker>
<app-jarvis-picker #pickThenPlugins [resource]="{'service':'plugins', 'action':'thenPlugins', 'label':'Plugins'}"></app-jarvis-picker>
<app-jarvis-picker #pickElsePlugins [resource]="{'service':'plugins', 'action':'elsePlugins', 'label':'Plugins'}"></app-jarvis-picker>
<app-jarvis-picker #pickThenBlocks [resource]="{'service':'blocks', 'action':'thenBlocks', 'label':'Blocks'}"></app-jarvis-picker>
<app-jarvis-picker #pickElseBlocks [resource]="{'service':'blocks', 'action':'elseBlocks', 'label':'Blocks'}"></app-jarvis-picker>

<p-dialog header="Condition" [(visible)]="viewCondition" modal=true responsive=true width="700" resizable=false>
  <div *ngIf="myPlugin">
    <p-fieldset legend="Entête" toggleable="true">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Identifiant
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myPlugin.id" placeholder="Identifiant" disabled />
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Instance
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myPlugin.instance" placeholder="Instance" disabled />
  </div>
</div>
</div>
<button md-mini-fab md-tooltip="Mettre à jour le lien" (click)="updatePluginLink(myPlugin)"><md-icon>save</md-icon></button>
</p-fieldset>
</div>
</p-dialog>