<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'test','icon':'fa-check','label':'Test le block'},{'task':'execute','icon':'fa-play','label':'Execute le block'}]"></app-jarvis-toolbar-resource>

<div *ngIf="myBlock">
  <p-accordion>
    <p-accordionTab header="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Nom
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myBlock.name" placeholder="Nom" />
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Icône
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myBlock.icon" placeholder="Icône" />
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Paramètres(s) JSON
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myBlock.testParameter" placeholder="{}}" />
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Expression
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myBlock.expression" placeholder="def i = 0" />
  </div>
</div>
</div>
</p-accordionTab>
<p-accordionTab header="Conditions">
  <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'label':'Ajouter un script de condition', 'icon': 'fa-bolt', 'action':'conditionnalPlugins', 'picker': pickConditionnalPlugins}]"></app-jarvis-toolbar-resource>
  <p-dataTable [value]="myBlock.conditionnalPlugins">
    <header>Plugins</header>
    <p-column header="Ordre">
      <template let-plugin="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="plugin.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-plugin="rowData" pTemplate type="body">
        <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updatePluginLink','args':[plugin],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropPluginLink','args':[plugin, 'HREF_IF', myBlock.conditionnalPlugins],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'viewPluginLink','args':[plugin],'icon':'fa-eye','label':'Voir'},{'task':'gotoPluginLink','args':[plugin],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
      </template>
    </p-column>
  </p-dataTable>
</p-accordionTab>
<p-accordionTab header="Then">
  <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'label':'Ajouter un script then', 'icon': 'fa-bolt', 'action':'thenPlugins', 'picker': pickThenPlugins},{'label':'Ajouter un block then', 'icon': 'fa-bolt', 'action':'thenBlocks', 'picker': pickThenBlocks}]"></app-jarvis-toolbar-resource>
  <p-dataTable [value]="myBlock.thenPlugins">
    <header>Plugins</header>
    <p-column header="Ordre">
      <template let-plugin="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="plugin.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-plugin="rowData" pTemplate type="body">
        <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updatePluginLink','args':[plugin],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropPluginLink','args':[plugin, 'HREF_THEN', myBlock.thenPlugins],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoPluginLink','args':[plugin],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
      </template>
    </p-column>
  </p-dataTable>
  <p-dataTable [value]="myBlock.thenBlocks">
    <header>Blocks</header>
    <p-column header="Ordre">
      <template let-block="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="block.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-block="rowData" pTemplate type="body">
        <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateBlockLink','args':[block],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropBlockLink','args':[block, 'HREF_THEN', myBlock.thenBlocks],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoBlockLink','args':[block],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
      </template>
    </p-column>
  </p-dataTable>
</p-accordionTab>
<p-accordionTab header="Else">
  <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'label':'Ajouter un script else', 'icon': 'fa-bolt', 'action':'elsePlugins', 'picker': pickElsePlugins},{'label':'Ajouter un block else', 'icon': 'fa-bolt', 'action':'elseBlocks', 'picker': pickElseBlocks}]"></app-jarvis-toolbar-resource>
  <p-dataTable [value]="myBlock.elsePlugins">
    <header>Plugins</header>
    <p-column header="Ordre">
      <template let-plugin="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="plugin.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-plugin="rowData" pTemplate type="body">
        <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updatePluginLink','args':[plugin],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropPluginLink','args':[plugin, 'HREF_ELSE', myBlock.elsePlugins],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoPluginLink','args':[plugin],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
      </template>
    </p-column>
  </p-dataTable>
  <p-dataTable [value]="myBlock.elseBlocks">
    <header>Blocks</header>
    <p-column header="Ordre">
      <template let-block="rowData" pTemplate>
        <input type="text" size="2" pInputText [(ngModel)]="block.extended.order" />
      </template>
    </p-column>
    <p-column field="id" header="Id"></p-column>
    <p-column field="instance" header="Instance"></p-column>
    <p-column field="name" header="Nom"></p-column>
    <p-column header="Action">
      <template let-block="rowData" pTemplate type="body">
        <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateBlockLink','args':[block],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropBlockLink','args':[block, 'HREF_ELSE', myBlock.elseBlocks],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoBlockLink','args':[block],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
      </template>
    </p-column>
  </p-dataTable>
</p-accordionTab>
</p-accordion>
</div>

<app-jarvis-picker #pickConditionnalPlugins [resource]="{'service':'plugins', 'action':'conditionnalPlugins', 'label':'Plugins'}"></app-jarvis-picker>
<app-jarvis-picker #pickThenPlugins [resource]="{'service':'plugins', 'action':'thenPlugins', 'label':'Plugins'}"></app-jarvis-picker>
<app-jarvis-picker #pickElsePlugins [resource]="{'service':'plugins', 'action':'elsePlugins', 'label':'Plugins'}"></app-jarvis-picker>
<app-jarvis-picker #pickThenBlocks [resource]="{'service':'blocks', 'action':'thenBlocks', 'label':'Blocks'}"></app-jarvis-picker>
<app-jarvis-picker #pickElseBlocks [resource]="{'service':'blocks', 'action':'elseBlocks', 'label':'Blocks'}"></app-jarvis-picker>

<p-dialog header="Condition" [(visible)]="viewCondition" modal=true responsive=true width="700" resizable=false>
  <div *ngIf="myPlugin">
    <p-fieldset legend="Entête" toggleable="true">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Identifiant
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myPlugin.id" placeholder="Identifiant" disabled />
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-4">
    Instance
  </div>
  <div class="ui-grid-col-8">
    <input type="text" pInputText [(ngModel)]="myPlugin.instance" placeholder="Instance" disabled />
  </div>
</div>
</div>
<app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updatePluginLink','args':[myPlugin],'icon':'fa-save','label':'Mettre à jour le lien'}]" ></app-jarvis-toolbar-resource>
</p-fieldset>
</div>
</p-dialog>