<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'check','icon':'fa-bolt','label':'Check'}]"
  [pickers]="[{'label':'Lier un connecteur', 'icon': 'fa-podcast', 'action':'connectors', 'picker': pickConnectors}]"></app-jarvis-toolbar-resource>

<div *ngIf="myMeasure">
  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Nom ({{checkName}})" [(ngModel)]="myMeasure.name">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-4">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Datetime ({{checkDatetime}})" [(ngModel)]="myMeasure.datetime">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-4">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Valeur ({{checkValue}})" [(ngModel)]="myMeasure.value">
            </mat-input-container>
          </div>
        </div>
      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            {{checkData | json}}
          </div>
        </div>
      </div>
      <p-dataTable [immutable]="false" [value]="myMeasure.connectors">
        <header>Connecteurs</header>
        <p-column field="extended.order" header="Ordre"></p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <ng-template let-connector="rowData" pTemplate type="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'dropConnectorLink','args':[connector],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoConnectorLink','args':[connector],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </ng-template>
        </p-column>
      </p-dataTable>
    </mat-tab>
  </mat-tab-group>
</div>

<app-jarvis-picker #pickConnectors [resource]="{'service':'connectors','label':'Connectors'}"></app-jarvis-picker>
