<p-dialog appendTo="body" header="{{resource.label}}" [(visible)]="show" modal=true responsive=true width="700" resizable=false>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
<div class="ui-grid-row">
  <div class="ui-grid-col-12">
    <p-dataTable [immutable]="false" [value]="jarvisPickerHelper.metadata.elements">
      <p-column field="id" header="Id"></p-column>
      <p-column field="name" header="Nom"></p-column>
      <p-column header="Action">
        <ng-template let-resource="rowData" pTemplate="body">
          <button pButton type="button" icon="fa-hand-pointer-o" pTooltip="Selection" tooltipPosition="bottom" (click)="validate(resource)"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-12">
    {{picked | json}}
  </div>
</div>
<div class="ui-grid-row">
  <div class="ui-grid-col-12">
    <button type="text" (click)="validate(undefined)" pButton icon="fa-close" label="Fermer"></button>
  </div>
</div>
</div>
</p-dialog>