<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'execute','icon':'fa-play','label':'Simuler (execution)'},{'task':'render','icon':'fa-play-circle-o','label':'Simuler (rendu)'},{'task':'clear','icon':'fa-ban','label':'Effacer le contexte'}]"
  [pickers]="[{'label':'Ajouter une notification', 'icon': 'fa-bolt', 'action':'notifications', 'picker': pickNotifications}]"></app-jarvis-toolbar-resource>

<div *ngIf="myCommand">
  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myCommand.name">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myCommand.icon">
            </mat-input-container>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-8">
            <mat-select placeholder="Catégorie" [(ngModel)]="myCommand.type">
              <mat-option *ngFor="let item of types" [value]="item.value">
                {{ item.label }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Source">
      <textarea style="width: 100%; height: 400px;" [(ngModel)]="myCommand.body"></textarea>
    </mat-tab>
    <mat-tab label="Script">
      <pre><code [innerHtml]="hightlight(myCommand.body)"></code></pre>
    </mat-tab>
    <mat-tab label="Notifications">
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'label':'Ajouter une notification', 'icon': 'fa-bolt', 'action':'notifications', 'picker': pickNotifications}]"></app-jarvis-toolbar-resource>
      <p-dataTable [immutable]="false" [value]="myCommand.notifications">
        <header>Commande</header>
        <p-column header="Ordre">
          <ng-template let-notification="rowData" pTemplate>
            <input type="text" size="2" pInputText [(ngModel)]="notification.extended.order" />
          </ng-template>
        </p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <ng-template let-notification="rowData" pTemplate="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateNotificationLink','args':[notification],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropNotificationLink','args':[notification],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoNotificationLink','args':[notification],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </ng-template>
        </p-column>
      </p-dataTable>
    </mat-tab>
    <mat-tab label="Mise au point">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Données de test (json)" [(ngModel)]="myJsonData">
            </mat-input-container>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">
            Données de test (convertie)
          </div>
          <div class="ui-grid-col-9">
            <pre><code [innerHtml]="pretty(myData)"></code></pre>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">
            Données de test (résultat)
          </div>
          <div class="ui-grid-col-9">
            <pre><code [innerHtml]="pretty(myOutputData)"></code></pre>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <app-jarvis-picker #pickNotifications [resource]="{'service':'notifications','label':'Notifications'}"></app-jarvis-picker>