<app-jarvis-toolbar-resource [notified]="this" [crud]="true"></app-jarvis-toolbar-resource>

<div *ngIf="myNotification">
  <md-tab-group>
    <md-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <md-input-container class="input-full-width">
              <input mdInput placeholder="Nom" [(ngModel)]="myNotification.name">
            </md-input-container>
          </div>
          <div class="ui-grid-col-6">
            <md-input-container class="input-full-width">
              <input mdInput placeholder="Icône" [(ngModel)]="myNotification.icon">
            </md-input-container>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-8">
            <md-select placeholder="Notification" [(ngModel)]="myNotification.type">
              <md-option *ngFor="let item of types" [value]="item.value">
                {{ item.label }}
              </md-option>
            </md-select>
          </div>
        </div>
      </div>
    </md-tab>
  </md-tab-group>

</div>