<div layout="column">
	<md-input-container>
	  <label translate="config.angularmd"></label>
	  <input ng-model="version.angularmd.version.full" disabled>
	</md-input-container>
	<md-input-container>
	  <label translate="config.angularjs"></label>
	  <input ng-model="version.angular.full" disabled>
	</md-input-container>
	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th>#id</th>
			<th translate="config.cname"></th>
			<th translate="config.cstatus"></th>
		</tr>
		<tr ng-repeat="crontab in config.system.scheduled">
			<td>{{crontab.id}}</td>
			<td>{{crontab.name}}</td>
			<td>{{crontab.lastExecution | date : 'yyyy-MM-dd HH:mm:ss Z' : timezone}}</td>
		</tr>
	</table>
	<md-switch ng-model="config.system.events" aria-label="{{config.events | translate}}" disabled>
		<label translate="config.events"></label>
    	{{config.events | translate}}
	</md-switch>
</div>
