<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.jarvis.core.log4j2">
  <Appenders>
	<RollingFile name="RollingFile" fileName="${sys:jarvis.log.dir}/jarvis.log" filePattern="${sys:jarvis.log.dir}/jarvis-%d{MM-dd-yyyy}.log.gz"
                 ignoreExceptions="false">
      <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n"/>
      <TimeBasedTriggeringPolicy />
    </RollingFile>
	<RollingFile name="RollingAccessFile" fileName="${sys:jarvis.log.dir}/jarvis-access.log" filePattern="${sys:jarvis.log.dir}/jarvis-access-%d{MM-dd-yyyy}.log.gz"
                 ignoreExceptions="false">
      <PatternLayout pattern="%d{DEFAULT} %msg%n"/>
      <TimeBasedTriggeringPolicy />
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %l - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="io.moquette" level="warn" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
  	<Logger name="org.reflections.Reflections" level="warn" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
  	<Logger name="org.ehcache" level="warn" additivity="false">
      <AppenderRef ref="RollingFile"/>
    </Logger>
  	<Logger name="org.jarvis.core.security" level="info" additivity="false">
      <AppenderRef ref="RollingSessionFile"/>
    </Logger>
  	<Logger name="org.jarvis.core.access" level="info" additivity="false">
      <AppenderRef ref="RollingAccessFile"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console" level="info" />
      <AppenderRef ref="RollingFile" level="info" />
    </Root>
  </Loggers>
</Configuration>