.xapp-action-left {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.xapp-action-right {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
}