<app-jarvis-toolbar-resource [notified]="this" [crud]="true"></app-jarvis-toolbar-resource>

<div *ngIf="myConfiguration">
  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myConfiguration.name">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myConfiguration.icon">
            </mat-input-container>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <mat-checkbox binary="true" [(ngModel)]="myConfiguration.active">Active</mat-checkbox>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Présentation">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Opacité: 0" [(ngModel)]="myConfiguration.opacity">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Image de fond" [(ngModel)]="myConfiguration.backgroundUrl">
            </mat-input-container>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Configuration du système">
      <p-dataTable [immutable]="false" [value]="myConfiguration.system.scheduled">
        <header *ngIf="myConfiguration.system.events">Scheduled (actif)</header>
        <header *ngIf="!myConfiguration.system.events">Scheduled (inactif)</header>
        <p-column field="id" header="Id"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column field="lastExecution" header="Dernière execution"></p-column>
      </p-dataTable>
    </mat-tab>
  </mat-tab-group>

</div>