<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'render','icon':'fa-check','label':'Test le rendu du device'}]" [pickers]="[{'action':'devices','icon':'fa-server','label':'Ajouter un container','picker': pickDevices},{'action':'triggers','icon':'fa-send','label':'Ajouter un trigger','picker': pickTriggers},{'action':'plugins','icon':'fa-podcast','label':'Ajouter un plugin','picker': pickPlugins}]"></app-jarvis-toolbar-resource>

<div *ngIf="myDevice">
  <p-accordion>
    <p-accordionTab header="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Nom du device
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myDevice.name" placeholder="Nom du device" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Paramètres
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myDevice.parameters" placeholder="Paramètres (json)" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Visibilité
          </div>
          <div class="ui-grid-col-8">
            <p-checkbox binary="true" label="Visible" [(ngModel)]="myDevice.visible"></p-checkbox>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Icône
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myDevice.icon" placeholder="Icône" />
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Triggers">
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'action':'triggers','icon':'fa-send','label':'Ajouter un trigger','picker': pickTriggers}]"></app-jarvis-toolbar-resource>
      <p-dataTable [value]="myDevice.triggers">
        <header>Trigger</header>
        <p-column field="extended.order" header="Ordre"></p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Inst."></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <template let-trigger="rowData" pTemplate type="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateTriggerLink','args':[trigger],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropTriggerLink','args':[trigger],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoTriggerLink','args':[trigger],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
          </template>
        </p-column>
      </p-dataTable>
    </p-accordionTab>
    <p-accordionTab header="Devices">
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'action':'devices','icon':'fa-server','label':'Ajouter un device','picker': pickDevices}]"></app-jarvis-toolbar-resource>
      <p-dataTable [value]="myDevice.devices">
        <header>Devices (container)</header>
        <p-column field="extended.order" header="Ordre"></p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Inst."></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <template let-device="rowData" pTemplate type="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateDeviceLink','args':[device],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropDeviceLink','args':[device],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoDeviceLink','args':[device],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
          </template>
        </p-column>
      </p-dataTable>
    </p-accordionTab>
    <p-accordionTab header="Plugins">
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'action':'plugins','icon':'fa-podcast','label':'Ajouter un plugin','picker': pickPlugins}]"></app-jarvis-toolbar-resource>
      <p-dataTable [value]="myDevice.plugins">
        <header>Plugin</header>
        <p-column header="Ordre">
          <template let-plugin="rowData" pTemplate>
            <input type="text" size="2" pInputText [(ngModel)]="plugin.extended.order" />
          </template>
        </p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <template let-plugin="rowData" pTemplate type="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updatePluginLink','args':[plugin],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropPluginLink','args':[plugin],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoPluginLink','args':[plugin],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
          </template>
        </p-column>
      </p-dataTable>
    </p-accordionTab>
    <p-accordionTab header="Rendu">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Couleur de la cellule
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myDevice.tagColor" placeholder="Couleur de la cellule" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Opacité de la cellule
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myDevice.tagOpacity" placeholder="Opacité de la cellule" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Couleur du texte de la cellule
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myDevice.tagTextColor" placeholder="Couleur du texte de la cellule" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Nombre de ligne de la cellule
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myDevice.rowSpan" placeholder="Nombre de ligne de la cellule" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Nombre de colonne de la cellule
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myDevice.colSpan" placeholder="Nombre de colonne de la cellule" />
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Rendu (test)">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Paramétrage de la tuile
          </div>
          <div class="ui-grid-col-8">
            <textarea pInputTextarea [(ngModel)]="myDevice.template" autoResize="autoResize"></textarea>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Rendu
          </div>
          <div class="ui-grid-col-8">
            <app-jarvis-tile [myDevice]="myDevice"></app-jarvis-tile>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Html
          </div>
          <div class="ui-grid-col-8">
            <pre class="language-html">
              <code pCode>{{myDevice.template}}</code>
            </pre>
          </div>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

<app-jarvis-picker #pickDevices [resource]="{'service':'devices','label':'Devices'}"></app-jarvis-picker>
<app-jarvis-picker #pickTriggers [resource]="{'service':'triggers','label':'Triggers'}"></app-jarvis-picker>
<app-jarvis-picker #pickPlugins [resource]="{'service':'plugins','label':'Plugins'}"></app-jarvis-picker>

