<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.jarvis.core.log4j2">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{DEFAULT} [%t] %-5level %l - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<Logger name="default.config.edu.cmu" level="warn" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console" level="info" />
    </Root>
  </Loggers>
</Configuration>