<div ng-init="load()" ng-cloak>
	<md-toolbar>
	  <div class="md-toolbar-tools" layout-align="center">
	    <h1><br>{{'cron.title' | translate}}</md-tooltip></h1>
	  </div>
	  <md-fab-actions class="md-toolbar-tools">
		<md-button aria-label="menu" class="md-icon-button" ng-click="new()"><md-icon md-font-icon="material-icons md-16">add</md-icon></md-button>
		<md-button aria-label="menu" class="md-icon-button" ng-click="start()"><md-tooltip>{{'crons.start'|translate}}</md-tooltip><md-icon md-font-icon="material-icons md-16">play_arrow</md-icon></md-button>
		<md-button aria-label="menu" class="md-icon-button" ng-click="stop()"><md-tooltip>{{'crons.stop'|translate}}</md-tooltip><md-icon md-font-icon="material-icons md-16">stop</md-icon></md-button>
	  </md-fab-actions>
	</md-toolbar>
	<br>
	<jarvis-crons></jarvis-crons>
</div>
