<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'execute','icon':'fa-play','label':'Execute le scenario'}]" [pickers]="[{'label':'Ajouter un trigger', 'icon': 'fa-bolt', 'action':'triggers', 'picker': pickTriggers},{'label':'Ajouter un block', 'icon': 'fa-bolt', 'action':'blocks', 'picker': pickBlocks}]"></app-jarvis-toolbar-resource>

<div *ngIf="myScenario">
  <p-accordion>
    <p-accordionTab header="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Nom
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myScenario.name" placeholder="Nom" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Icône
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myScenario.icon" placeholder="Icône" />
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Triggers">
      <p-dataTable [immutable]="false" [value]="myScenario.triggers">
        <header>Trigger</header>
        <p-column header="Ordre">
          <ng-template let-trigger="rowData" pTemplate>
            <input type="text" size="2" pInputText [(ngModel)]="trigger.extended.order" />
          </ng-template>
        </p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <ng-template let-trigger="rowData" pTemplate="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateTriggerLink','args':[trigger],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropTriggerLink','args':[trigger],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoTriggerLink','args':[trigger],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
          </ng-template>
        </p-column>
      </p-dataTable>
    </p-accordionTab>
    <p-accordionTab header="Blocks">
      <p-dataTable [immutable]="false" [value]="myScenario.blocks">
        <header>Trigger</header>
        <p-column header="Ordre">
          <ng-template let-block="rowData" pTemplate>
            <input type="text" size="2" pInputText [(ngModel)]="block.extended.order" />
          </ng-template>
        </p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <ng-template let-block="rowData" pTemplate="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateBlockLink','args':[block],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropBlockLink','args':[block],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoBlockLink','args':[block],'icon':'fa-link','label':'Détail'}]" ></app-jarvis-toolbar-resource>
          </ng-template>
        </p-column>
      </p-dataTable>
    </p-accordionTab>
    <p-accordionTab header="Graphe">
      <div inlineSvg [resourceUrl]="'scenarios/'+myScenario.id+'/svg'" ></div>
    </p-accordionTab>
    <p-accordionTab header="Test">
      <p-dataTable [immutable]="false" [value]="console">
        <p-column header="Résultat">
          <ng-template let-line="rowData" pTemplate="body">{{line}}</ng-template>
        </p-column>
      </p-dataTable>
    </p-accordionTab>
  </p-accordion>
</div>

<app-jarvis-picker #pickTriggers [resource]="{'service':'triggers','label':'Triggers'}"></app-jarvis-picker>
<app-jarvis-picker #pickBlocks [resource]="{'service':'blocks','label':'Blocks'}"></app-jarvis-picker>
