<div layout="column" flex layout-fill>
    <md-content>
        <section>
            <md-subheader>{{jarvis.configuration.jobs.length}} Jobs</md-subheader>
            <md-list layout-padding>
                <md-list-item ng-repeat="job in jarvis.configuration.jobs">
                    <div layout layout-sm="column">
                        <ng-md-icon ng-click="delete(jarvis.configuration.jobs, job)" icon="delete"></ng-md-icon>
                        <ng-md-icon ng-click="save(job)" icon="save"></ng-md-icon>
                        <ng-md-icon ng-click="new(jarvis.configuration.jobs)" icon="create"></ng-md-icon>
                        <ng-md-icon ng-if="!job.started" ng-click="status(job, true)" icon="thumb_down"></ng-md-icon>
                        <ng-md-icon ng-if="job.started" ng-click="status(job, false)" icon="thumb_up"></ng-md-icon>
                        <ng-md-icon ng-click="execute(job)" icon="input"></ng-md-icon>
                    </div>
                    <div layout layout-sm="column" layout-fill>
                        <md-input-container>
                            <md-tooltip>{{job.id}} {{job.name}}</md-tooltip>
                            <label>Name</label>
                            <input ng-model="job.name" flex />
                        </md-input-container>
                        <md-input-container>
                            <md-tooltip>{{job.timestamp}} {{job.started}}</md-tooltip>
                            <label>Crontab</label>
                            <input ng-model="job.cronTime" flex />
                        </md-input-container>
                        <md-input-container>
                            <md-tooltip>Plugin à lancer (dans  le répértoire plugin)</md-tooltip>
                            <label>Plugin</label>
                            <input ng-model="job.plugin" flex />
                        </md-input-container>
                        <md-input-container>
                            <md-tooltip>Paramètres du plugin (un objet JSON)</md-tooltip>
                            <label>Params</label>
                            <input ng-model="job.text" flex />
                        </md-input-container>
                    </div>
                </md-list-item>
            </md-list>
        </section>
    </md-content>
</div>
