<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'toggle','icon':'fa-play','label':'Active / désactive la crontab'},{'task':'test','icon':'fa-play','label':'Test la crontab'}]"></app-jarvis-toolbar-resource>

<div *ngIf="myCron">
  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-8">
            <mat-select placeholder="Crontab" [(ngModel)]="myCron.triggerType">
              <mat-option *ngFor="let item of types" [value]="item.value">
                {{ item.label }}
              </mat-option>
            </mat-select>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myCron.name">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-4">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myCron.icon">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-4" *ngIf="myCron.triggerType === 'CRONTAB'">
            <mat-input-container class="input-full-width">
              <input matInput type="text" pInputText [(ngModel)]="myCron.cron" placeholder="Cron: * * * * * *" />
            </mat-input-container>
          </div>
          <div class="ui-grid-col-4" *ngIf="myCron.triggerType != 'CRONTAB'">
            <mat-input-container class="input-full-width">
              <input matInput type="text" pInputText [(ngModel)]="myCron.latitude" placeholder="Latitude: 0" />
            </mat-input-container>
          </div>
          <div class="ui-grid-col-4" *ngIf="myCron.triggerType != 'CRONTAB'">
            <mat-input-container class="input-full-width">
              <input matInput type="text" pInputText [(ngModel)]="myCron.longitude" placeholder="Longitude: 0" />
            </mat-input-container>
          </div>
          <div class="ui-grid-col-4" *ngIf="myCron.triggerType != 'CRONTAB'">
            <mat-input-container class="input-full-width">
              <input matInput type="text" pInputText [(ngModel)]="myCron.shift" placeholder="Décalage en minutes: 0" />
            </mat-input-container>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-checkbox binary="true" [(ngModel)]="myCron.startAtRuntime">Activation au démarrage ({{myCron.startAtRuntime === true}})</mat-checkbox>
          </div>
          <div class="ui-grid-col-6">
            <mat-checkbox binary="true" [(ngModel)]="myCron.status" disabled>Actif ({{myCron.status === true}})</mat-checkbox>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>