<md-toolbar>
  <md-fab-actions class="md-toolbar-tools">
	<md-button aria-label="menu" class="md-icon-button" ng-click="go('views')"><md-icon md-font-icon="material-icons md-16">clear</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="duplicate(view)"><md-icon md-font-icon="material-icons md-16">content_copy</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="remove(view)"><md-icon md-font-icon="material-icons md-16">delete</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="save(view)"><md-icon md-font-icon="material-icons md-16">save</md-icon></md-button>
  </md-fab-actions>
</md-toolbar>
<div layout="column" ng-init="load()" ng-cloak>
	<h2>View #{{view.id}}</h2>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{'view.general' | translate}}">
			<md-content layout-padding>
				<jarvis-view></jarvis-view>
			</md-content>
		</md-tab>
	</md-tabs>
</div>