<div layout="column">
	<md-input-container>
	  <label translate="connector.name"></label>
	  <input ng-model="connector.name">
	</md-input-container>
	<md-input-container>
	  <label translate="connector.icon"></label>
	  <input ng-model="connector.icon">
	</md-input-container>
	<md-input-container>
	  <label translate="cnx.adress"></label>
	  <input ng-model="connector.adress">
	</md-input-container>
    <div layout="row">
         <md-switch ng-model="connector.isRenderer" aria-label="{{'cnx.isRenderer' | translate}}">
	    {{'cnx.isRenderer' | translate}} : {{ connector.isRenderer }}
	  </md-switch>
         <md-switch ng-model="connector.isSensor" aria-label="{{'cnx.isSensor' | translate}}">
	    {{'cnx.isSensor' | translate}} : {{ connector.isSensor }}
	  </md-switch>
         <md-switch ng-model="connector.canAnswer" aria-label="{{'cnx.canAnswer' | translate}}">
	    {{'cnx.canAnswer' | translate}} : {{ connector.canAnswer }}
	  </md-switch>
    </div>
	<div ng-if="status" ng-cloak>
 	 <div hljs hljs-source="status"></div>
    </div>
</div>
