<div layout="column">
	<md-input-container>
	  <label translate="connector.name"></label>
	  <input ng-model="connector.name">
	</md-input-container>
	<md-input-container>
	  <label translate="connector.icon"></label>
	  <input ng-model="connector.icon">
	</md-input-container>
	<div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th>#</th>
					<th translate="cnx.href"></th>
					<th translate="cnx.isRenderer"></th>
					<th translate="cnx.isSensor"></th>
					<th translate="cnx.canAnswer"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="remote in connexions">
					<td><md-icon md-font-icon="material-icons md-16" ng-click="links.connexions.drop(remote)">delete</md-icon></td>
					<td>{{remote.id}}</th>
					<td>{{remote.adress}}</th>
					<td>{{remote.isRenderer}}</th>
					<td>{{remote.isSensor}}</th>
					<td>{{remote.canAnswer}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>
