<md-toolbar>
  <div class="md-toolbar-tools" layout-align="center">
    <h1><br>{{connector.name}}<md-tooltip>connector#{{connector.id}}</md-tooltip></h1>
  </div>
  <md-fab-actions class="md-toolbar-tools">
  	<jarvis-default-menu-bar close="connectors" ng-model="connector"></jarvis-default-menu-bar>
	<md-button aria-label="menu" class="md-icon-button" ng-click="ping(connector)"><md-tooltip>{{'connector.ping' | translate}}</md-tooltip><md-icon md-font-icon="material-icons md-16">autorenew</md-icon></md-button>
  </md-fab-actions>
</md-toolbar>
<div layout="column" ng-init="load()" ng-cloak>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{'connector.general' | translate}}">
			<md-content layout-padding>
				<jarvis-connector-general></jarvis-connector-general>
			</md-content>
		</md-tab>
	</md-tabs>
</div>