<md-toolbar>
  <div class="md-toolbar-tools" layout-align="center">
    <h1><br>{{scenario.name}}<md-tooltip>scenario#{{scenario.id}}</md-tooltip></h1>
  </div>
  <md-fab-actions class="md-toolbar-tools">
	<md-button aria-label="menu" class="md-icon-button" ng-click="go('scenarios')"><md-icon md-font-icon="material-icons md-16">clear</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="duplicate(scenario)"><md-icon md-font-icon="material-icons md-16">content_copy</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="remove(scenario)"><md-icon md-font-icon="material-icons md-16">delete</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="save(scenario)"><md-icon md-font-icon="material-icons md-16">save</md-icon></md-button>
	<md-button aria-label="menu" class="md-icon-button" ng-click="execute(scenario)"><md-icon md-font-icon="material-icons md-16">play_arrow</md-icon></md-button>
  </md-fab-actions>
</md-toolbar>
<div layout="column" ng-init="load()" ng-cloak>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{'scenario.general' | translate}}" md-active="activeTab==1">
			<md-content layout-padding>
				<jarvis-scenario></jarvis-scenario>
			</md-content>
		</md-tab>
		<md-tab label="{{'scenario.block' | translate}}"  md-active="activeTab==2">
			<md-content layout-padding>
				<jarvis-scenario-blocks></jarvis-scenario-blocks>
			</md-content>
		</md-tab>
	</md-tabs>
</div>