<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'execute','icon':'fa-play','label':'Simuler (execution)'}]"
  [pickers]="[{'label':'Ajouter une crontab', 'icon': 'fa-bolt', 'action':'crons', 'picker': pickCrons}]"></app-jarvis-toolbar-resource>

<div *ngIf="myTrigger">
  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myTrigger.name">
              <mat-hint align="start"><strong>Nom du trigger</strong></mat-hint>
            </mat-input-container>
          </div>
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myTrigger.icon">
              <mat-hint align="start"><strong>Awesome icône</strong></mat-hint>
            </mat-input-container>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Broker">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Souscription" [(ngModel)]="myTrigger.topic">
              <mat-hint align="start"><strong>Topic de souscription (rflink ...)</strong></mat-hint>
            </mat-input-container>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-form-field style="display: inline;">
              <textarea matInput [(ngModel)]="myTrigger.body" maxlength="1024" placeholder="Script"></textarea>
              <mat-hint align="start"><strong>Script groovy avec en entrée l'objet message (disponible comme une variable)</strong></mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <pre><code [innerHtml]="hightlight(myTrigger.body)"></code></pre>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Périodicité">
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'label':'Ajouter une crontab', 'icon': 'fa-bolt', 'action':'crons', 'picker': pickCrons}]"></app-jarvis-toolbar-resource>

      <p-dataTable [immutable]="false" [value]="myTrigger.crons">
        <header>Crontab</header>
        <p-column header="Ordre">
          <ng-template let-cron="rowData" pTemplate>
            <input type="text" size="2" pInputText [(ngModel)]="cron.extended.order" />
          </ng-template>
        </p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <ng-template let-cron="rowData" pTemplate="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateCronLink','args':[cron],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropCronLink','args':[cron],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoCronLink','args':[cron],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </ng-template>
        </p-column>
      </p-dataTable>
    </mat-tab>
    <mat-tab label="Devices liés">
      <p-dataTable [immutable]="false" [value]="myTrigger.devices">
        <header>Devices</header>
        <p-column field="id" header="Id"></p-column>
        <p-column field="name" header="Nom"></p-column>
      </p-dataTable>
    </mat-tab>
    <mat-tab label="Processus liés">
      <p-dataTable [immutable]="false" [value]="myTrigger.processes">
        <header>Processus</header>
        <p-column field="id" header="Id"></p-column>
        <p-column field="name" header="Nom"></p-column>
      </p-dataTable>
    </mat-tab>
  </mat-tab-group>

</div>

<app-jarvis-picker #pickCrons [resource]="{'service':'crons','label':'Crontabs'}"></app-jarvis-picker>