<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'execute','icon':'fa-gear','label':'Simuler (execution)'},{'task':'render','icon':'fa-bolt','label':'Simuler (rendu)'},{'task':'clear','icon':'fa-ban','label':'Effacer le contexte'}]"
  [pickers]="[{'action':'devices','icon':'fa-plug','label':'Ajouter une commande','picker': pickCommands}]"></app-jarvis-toolbar-resource>

<div *ngIf="myPlugin">
  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myPlugin.name">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myPlugin.icon">
            </mat-input-container>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-8">
            <mat-select placeholder="Catégorie" [(ngModel)]="myPlugin.type">
              <mat-option *ngFor="let item of types" [value]="item.value">
                {{ item.label }}
              </mat-option>
            </mat-select>
          </div>
          <div class="ui-grid-col-2">
            <mat-checkbox [(ngModel)]="myPlugin.visible">Visible</mat-checkbox>
          </div>
          <div class="ui-grid-col-2">
            <mat-checkbox [(ngModel)]="myPlugin.active">Actif</mat-checkbox>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Commande">
      <p-dataTable [immutable]="false" [value]="myPlugin.commands">
        <header>Commande</header>
        <p-column header="Ordre">
          <ng-template let-command="rowData" pTemplate>
            <input type="text" size="2" pInputText [(ngModel)]="command.extended.order" />
          </ng-template>
        </p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <ng-template let-command="rowData" pTemplate="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateCommandLink','args':[command],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropCommandLink','args':[command],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'viewCommandLink','args':[command],'icon':'fa-eye','label':'Visualiser'},{'task':'gotoCommandLink','args':[command],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </ng-template>
        </p-column>
      </p-dataTable>
    </mat-tab>
    <mat-tab label="Détails">
      <div [innerHtml]="sanitize(myDetail)"></div>
    </mat-tab>
    <mat-tab label="Mise au point">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Données de test (json)" [(ngModel)]="myJsonData">
            </mat-input-container>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">
            Données de test (convertie)
          </div>
          <div class="ui-grid-col-9">
            <pre><code [innerHtml]="pretty(myData)"></code></pre>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">
            Données de test (résultat)
          </div>
          <div class="ui-grid-col-9">
            <pre><code [innerHtml]="pretty(myOutputData)"></code></pre>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <app-jarvis-picker #pickCommands [resource]="{'service':'commands','label':'Commands'}"></app-jarvis-picker>

  <p-dialog appendTo="body" header="Commande" [(visible)]="display" modal=true responsive=true width="700" resizable=false>
    <div *ngIf="myCommand">
      <p-fieldset legend="Entête" toggleable="true">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              <mat-input-container class="input-full-width">
                <input matInput placeholder="Identifiant de la commande" [(ngModel)]="myCommand.id" disabled>
              </mat-input-container>
            </div>
            <div class="ui-grid-col-4">
              <mat-input-container class="input-full-width">
                <input matInput placeholder="Instance de la commande" [(ngModel)]="myCommand.instance" disabled>
              </mat-input-container>
            </div>
            <div class="ui-grid-col-4">
              <mat-input-container class="input-full-width">
                <input matInput placeholder="Nom de la commande" [(ngModel)]="myCommand.name">
              </mat-input-container>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-4">
              <mat-input-container class="input-full-width">
                <input matInput placeholder="Name" [(ngModel)]="myCommand.extended.name">
              </mat-input-container>
            </div>
            <div class="ui-grid-col-4">
              <mat-input-container class="input-full-width">
                <input matInput placeholder="Nature (json)" [(ngModel)]="myCommand.extended.nature">
              </mat-input-container>
            </div>
            <div class="ui-grid-col-4">
              <mat-input-container class="input-full-width">
                <input matInput placeholder="Type (action)" [(ngModel)]="myCommand.extended.type">
              </mat-input-container>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-12">
              <mat-input-container class="input-full-width">
                <input matInput placeholder="Paramètre(s) (json)" [(ngModel)]="myCommand.extended.parameter">
              </mat-input-container>
            </div>
          </div>
        </div>
        <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateCommandLink','args':[myCommand],'icon':'fa-save','label':'Mettre à jour le lien'}]"></app-jarvis-toolbar-resource>
      </p-fieldset>
      <p-fieldset legend="Source" toggleable="true">
        <pre><code [innerHtml]="hightlight(myCommand.body)"></code></pre>
      </p-fieldset>
    </div>
  </p-dialog>