<md-toolbar>
  <div class="md-toolbar-tools" layout-align="center">
    <h1><br>{{view.name}}<md-tooltip>view#{{view.id}}</md-tooltip></h1>
  </div>
  <md-fab-actions class="md-toolbar-tools">
  	<jarvis-default-menu-bar close="views" ng-model="view"></jarvis-default-menu-bar>
	<jarvis-pick-element ctrl="pickDeviceDialogCtrl" icon="playlist_add" callback="links.devices.add" tooltips="pick.elt.device"></jarvis-pick-element>
  </md-fab-actions>
</md-toolbar>
<div layout="column" ng-init="load()" ng-cloak>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{'view.general' | translate}}">
			<md-content layout-padding>
				<jarvis-view></jarvis-view>
			</md-content>
		</md-tab>
	</md-tabs>
</div>