<p-accordion>
  <p-accordionTab *ngFor="let myView of myViews; let index=index" header="{{myView.name}}">
    <p-dataGrid [value]="myView.devices" [paginator]="true" [rows]="20">
      <ng-template let-myDevice pTemplate="body">
        <div class="ui-g-2 ui-md-3 ui-lg-3 ui-sm-6">
          <app-jarvis-tile (click)="touch(myDevice)" [myDevice]="myDevice" ></app-jarvis-tile>
        </div>
      </ng-template>
    </p-dataGrid>
  </p-accordionTab>
</p-accordion>
<p-growl [value]="msgs"></p-growl>
