<p-dialog appendTo="body" header="Login" [(visible)]="display" modal=true responsive=true width="700" resizable=false>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
  <div class="ui-grid-row">
    <div class="ui-grid-col-12">
      <button pButton type="text" (click)="google()" icon="fa-check" label="Google"></button>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-12">
      <button pButton type="text" (click)="facebook()" icon="fa-check" label="Facebook"></button>
    </div>
  </div>
  </div>
</p-dialog>