<div layout="column">
	<md-input-container>
	  <label translate="property.name"></label>
	  <input ng-model="property.name">
	</md-input-container>
	<md-input-container>
	  <label translate="property.key"></label>
	  <input ng-model="property.key">
	</md-input-container>
	<md-input-container>
	  <label translate="property.value"></label>
	  <input ng-model="property.value">
	</md-input-container>
	<md-switch ng-model="property.isSecured" aria-label="{{'property.sec.'+property.isSecured | translate}}">
    	{{'property.sec.'+property.isSecured | translate}}
	</md-switch>
</div>
