<md-toolbar>
  <md-fab-actions class="md-toolbar-tools">
	<jarvis-pick-element ctrl="pickPluginDialogCtrl" icon="playlist_add" callback="links.plugins.if.add"></jarvis-pick-element>
  </md-fab-actions>
</md-toolbar>
<br>
<div layout="column">
	<md-input-container>
	  <label translate="block.name"></label>
	  <input ng-model="block.name">
	</md-input-container>
	<md-input-container>
	  <label translate="block.icon"></label>
	  <input ng-model="block.icon">
	</md-input-container>
    <div ng-repeat="plugin in plugins.if">
    	 <div layout="row">
		<md-input-container flex>
		  <label translate="block.plugin.if"></label>
		  <input ng-model="plugin.name" disabled>
		</md-input-container>
		<md-button aria-label="menu" class="md-icon-button" ng-click="links.plugins.if.drop(plugin)"><md-icon md-font-icon="material-icons md-16">delete</md-icon></md-button>
     </div>
    </div>
	<md-input-container>
	  <label translate="block.expression"></label>
	  <input ng-model="block.expression">
	</md-input-container>
	<md-icon ng-show="testExpression" md-font-icon="material-icons md-16">cloud</md-icon>
	<md-icon ng-show="!testExpression" md-font-icon="material-icons md-16">cloud_off</md-icon>
</div>
