<md-dialog aria-label="{{labels}}">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{item.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="answer('not applicable')">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <ul>
                <li ng-repeat="row in data">{{row}}</li>
            </ul>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="answer('close')" class="md-primary">
                close
            </md-button>
        </div>
    </form>
</md-dialog>