<div *ngIf="myDevice" layout="column">
  <h3>Basic</h3>
  <p-dataTable [value]="myDevice.plugins">
      <p-column field="id" header="Id"></p-column>
      <p-column field="instance" header="Instance"></p-column>
      <p-column field="name" header="Nom"></p-column>
      <p-column header="Ordre">
        <template let-plugin="rowData" pTemplate type="body">
          <input type="text" size="10" pInputText [(ngModel)]="plugin.extended.order" />
        </template>
      </p-column>
      <p-column header="Action">
        <template let-plugin="rowData" pTemplate type="body">
          <button md-mini-fab md-tooltip="Mettre à jour le lien" (click)="updatePluginLink(plugin)"><md-icon>save</md-icon></button>
          <button md-mini-fab md-tooltip="Supprimer le lien" (click)="dropPluginLink(plugin)"><md-icon>delete</md-icon></button>
        </template>
      </p-column>
  </p-dataTable>
</div>
