<div>
	<div>
		<md-grid-list
			/*
				xs		(max-width: 599px)
				gt-xs	(min-width: 600px)
				sm		(min-width: 600px) and (max-width: 959px)
				gt-sm	(min-width: 960px)
				md		(min-width: 960px) and (max-width: 1279px)
				gt-md	(min-width: 1280px)
				lg		(min-width: 1280px) and (max-width: 1919px)
				gt-lg	(min-width: 1920px)
				xl		(min-width: 1920px)
			*/
			md-cols="1"
			md-cols-xs="{{config.tilesXs}}"
			md-cols-gt-xs="{{config.tilesGtXs}}"
			md-cols-sm="{{config.tilesSm}}"
			md-cols-gt-sm="{{config.tilesGtSm}}"
			md-cols-md="{{config.tilesMd}}"
			md-cols-gt-md="{{config.tilesGtMd}}"
			md-cols-lg="{{config.tilesLg}}"
			md-cols-gt-lg="{{config.tilesGtLg}}"
			md-cols-xl="{{config.tilesXl}}"
			md-row-height="1:1"
			md-gutter="8px">
			<md-grid-tile
				md-whiteframe="8"
				ng-click="execute(device)"
				ng-repeat="device in view.devices" 
				ng-style="{'background': device.tagColor, 'opacity': device.tagOpacity}"
				md-colspan="{{defaultValue(device.colSpan,1)}}" 
				md-rowspan="{{defaultValue(device.rowSpan,1)}}"
				md-colspan-xs="1"
                md-rowspan-xs="1"
                md-colspan-sm="1"
                md-rowspan-sm="1"
			>
				<jarvis-inline-template data="device.render" id="device.id"></jarvis-inline-template>
			</md-grid-tile>
		</md-grid-list>
	</div>
</div>
