<app-jarvis-toolbar-menu [actions]="this" [tasks]="[]" [pickers]="[]"></app-jarvis-toolbar-menu>

<div *ngIf="myView">
  <p-accordion>
    <p-accordionTab header="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Nom
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myView.name" placeholder="Nom" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Icône
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myView.icon" placeholder="Icône" />
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Paramètre">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Image de fond
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myView.url" placeholder="todo" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Vue principale
          </div>
          <div class="ui-grid-col-8">
            <p-checkbox binary="true" label="Oui/Non" [(ngModel)]="myView.ishome"></p-checkbox>
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Devices">
      <app-jarvis-toolbar-resource [notified]="this" [actions]="[{'label':'Devices', 'icon': 'fa-check', 'action':'devices', 'picker': pickDevices}]"></app-jarvis-toolbar-resource>
      <p-dataTable [value]="myView.devices">
        <header>Devices à afficher</header>
        <p-column header="Ordre">
          <template let-device="rowData" pTemplate>
            <input type="text" size="2" pInputText [(ngModel)]="device.extended.order" />
          </template>
        </p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <template let-device="rowData" pTemplate type="body">
            <button md-mini-fab md-tooltip="Mettre à jour le lien" (click)="updateDeviceLink(device)"><md-icon>save</md-icon></button>
            <button md-mini-fab md-tooltip="Supprimer le lien" (click)="dropDeviceLink(device)"><md-icon>delete</md-icon></button>
            <button md-mini-fab md-tooltip="Détail" (click)="gotoDeviceLink(device)"><md-icon>touch_app</md-icon></button>
          </template>
        </p-column>
      </p-dataTable>
    </p-accordionTab>
  </p-accordion>
</div>

<app-jarvis-picker #pickDevices [resource]="{'service':'devices','label':'Devices'}"></app-jarvis-picker>
