<app-jarvis-toolbar-resource [notified]="this" [crud]="true"></app-jarvis-toolbar-resource>

<div *ngIf="myView">

  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myView.name">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myView.icon">
            </mat-input-container>
          </div>
        </div>
      </div>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Image de fond: http://localhost/image.jpg" [(ngModel)]="myView.url">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-1">
            <mat-checkbox [(ngModel)]="myView.ishome"></mat-checkbox>
          </div>
          <div class="ui-grid-col-5">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Vue principale" [(ngModel)]="myView.ishome" disabled>
            </mat-input-container>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Devices">
      <app-jarvis-toolbar-resource [notified]="this" [pickers]="[{'label':'Ajouter des devices à la vue', 'icon': 'fa-server', 'action':'devices', 'picker': pickDevices}]"></app-jarvis-toolbar-resource>
      <p-dataTable [immutable]="false" [value]="myView.devices">
        <header>Devices à afficher</header>
        <p-column header="Ordre">
          <ng-template let-device="rowData" pTemplate>
            <input type="text" size="2" pInputText [(ngModel)]="device.extended.order" />
          </ng-template>
        </p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <ng-template let-device="rowData" pTemplate="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'updateDeviceLink','args':[device],'icon':'fa-save','label':'Mettre à jour le lien'},{'task':'dropDeviceLink','args':[device],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoDeviceLink','args':[device],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </ng-template>
        </p-column>
      </p-dataTable>
    </mat-tab>
  </mat-tab-group>
</div>

<app-jarvis-picker #pickDevices [resource]="{'service':'devices','action':'devices','label':'Devices'}"></app-jarvis-picker>