<div layout="column">
	<md-input-container>
	  <label translate="view.name"></label>
	  <input ng-model="view.name">
	</md-input-container>
	<md-input-container>
	  <label translate="view.icon"></label>
	  <input ng-model="view.icon">
	</md-input-container>
	<md-input-container>
	  <label translate="view.url"></label>
	  <input ng-model="view.url">
	</md-input-container>
	<md-switch ng-model="view.ishome" aria-label="{{'view.ishome' | translate}}">
    	{{'view.ishome' | translate}}
	</md-switch>
	<div>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>#</th>
					<th translate="device.icon">Icon</th>
					<th translate="device.name">Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="device in devices">
					<td><md-icon md-font-icon="material-icons md-16" ng-click="links.devices.drop(device)">delete</md-icon></td>
					<td><md-icon md-font-icon="material-icons md-16" ng-click="links.devices.execute(device)">loop</md-icon></td>
					<td>{{device.id}}</th>
					<td><md-icon md-font-icon="material-icons md-16">{{device.icon}}</md-icon></th>
					<td>{{device.name}}</th>
				</tr>
			</tbody>
		</table>
	</div>
</div>
