<div layout="column">
     <md-input-container>
       <label translate="notification.name"></label>
       <input ng-model="notification.name"></input>
     </md-input-container>
     <md-input-container>
       <label translate="notification.type"></label>
       <md-select ng-model="notification.type">
         <md-option ng-repeat="type in combo.types" value="{{type.id}}">
           {{type.value | translate}}
         </md-option>
       </md-select>
     </md-input-container>
     <md-input-container>
       <label translate="notification.icon"></label>
       <input ng-model="notification.icon"></input>
     </md-input-container>
</div>
