<md-grid-tile-header>
	<h3>{{element.name | limitTo : 20 : 0}}... (#{{element.id}})</h3>
	<md-tooltip>{{element.name}}</md-tooltip>
</md-grid-tile-header>
<div layout="row">
	<md-icon ng-click="go(state,{id:element.id})" ng-if="element.status === undefined || element.status === true" md-font-icon="material-icons md-64">{{element.icon}}</md-icon>
	<md-icon ng-click="go(state,{id:element.id})" ng-if="element.status === false" md-font-icon="material-icons md-64">block</md-icon>
	<md-tooltip>#{{element.id}}</md-tooltip>
</div>
<md-grid-tile-footer>
	<md-icon md-font-icon="material-icons" ng-click="go(state,{id:element.id})"><md-tooltip>{{'action.edit' | translate}}</md-tooltip>mode_edit</md-icon>
	<md-icon md-font-icon="material-icons" ng-click="remove(element)"><md-tooltip>{{'action.remove' | translate}}</md-tooltip>delete</md-icon>
</md-grid-tile-footer>
