<md-toolbar>
  <div class="md-toolbar-tools" layout-align="center">
    <h1><br>{{trigger.name}}<md-tooltip>trigger#{{trigger.id}}</md-tooltip></h1>
  </div>
  <md-fab-actions class="md-toolbar-tools">
  	<jarvis-default-menu-bar close="triggers" ng-model="trigger"></jarvis-default-menu-bar>
	<md-button aria-label="menu" class="md-icon-button" ng-click="execute(trigger)"><md-tooltip>{{'trigger.execute'|translate}}</md-tooltip><md-icon md-font-icon="material-icons md-16">play_arrow</md-icon></md-button>
	<jarvis-pick-element tooltips="pick.elt.crontab" ctrl="pickCronDialogCtrl" icon="local_offer" callback="links.crons.add"></jarvis-pick-element>
  </md-fab-actions>
</md-toolbar>
<div layout="column" ng-init="load()" ng-cloak>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{'trigger.general' | translate}}">
			<md-content layout-padding>
				<jarvis-trigger-general></jarvis-trigger-general>
			</md-content>
		</md-tab>
		<md-tab label="{{'trigger.cron' | translate}}">
			<md-content layout-padding>
				<jarvis-trigger-cron></jarvis-trigger-cron>
			</md-content>
		</md-tab>
	</md-tabs>
</div>