<md-toolbar>
  <div class="md-toolbar-tools" layout-align="center">
    <h1><br>{{configuration.name}}<md-tooltip>configuration#{{configuration.id}}</md-tooltip></h1>
  </div>
  <md-fab-actions class="md-toolbar-tools">
  	<jarvis-default-menu-bar close="configurations" ng-model="configuration"></jarvis-default-menu-bar>
  </md-fab-actions>
</md-toolbar>
<div layout="column" ng-init="load()" ng-cloak>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="{{'config.general' | translate}}">
			<md-content layout-padding>
				<jarvis-configuration></jarvis-configuration>
			</md-content>
		</md-tab>
	</md-tabs>
</div>