<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th><md-button aria-label="menu" class="md-icon-button" ng-click="drop(block)"><md-icon md-font-icon="material-icons md-16">cancel</md-icon></md-button></th>
			<th translate="block.action">Order</th>
			<th translate="block.expression">Icon</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td><td>Si</td><td>
			<md-input-container>
			  <label translate="block.expression"></label>
			  <input ng-model="block.expression">
			</md-input-container>
			</td>
		</tr>
		<tr>
			<td></td><td>Alors</td><td><div layout="row" ng-repeat="subblock in block.children">www</jarvis-block-b></div></td>
		</tr>
		<tr>
			<td></td><td>Sinon</td><td><div layout="row" ng-repeat="subblock in block.children">www</div></td>
		</tr>
	</tbody>
</table>
