<md-card>
  <md-card-title>{{myView.name}}</md-card-title>
  <md-card-content flex>
    <md-grid-list cols="{{fixedCols}}" rowHeight="{{fitListHeight}}">
      <md-grid-tile *ngFor="let myDevice of myDevices; let index=index" (click)="execute(myDevice)" [style.background]="myDevice.tagColor">
        <md-grid-tile-header>
          <md-icon md-grid-avatar>{{myDevice.icon}}</md-icon>
          <h3>{{myDevice.name}}</h3>
        </md-grid-tile-header>
        <div [innerHTML]="getTemplate(myDevice)"></div>
      </md-grid-tile>
    </md-grid-list>
  </md-card-content>
</md-card>
