<div layout="column">
     <div ng-repeat="notification in notifications">
     	 <div layout="row">
			<md-button aria-label="menu" class="md-icon-button"><md-icon md-font-icon="material-icons md-16">{{notification.icon}}</md-icon></md-button>
			<md-input-container>
			  <label translate="notification.id"></label>
			  <input ng-model="notification.id" disabled>
			</md-input-container>
			<md-input-container>
			  <label translate="notification.order"></label>
			  <input ng-model="notification.extended.order">
			</md-input-container>
			<md-button aria-label="menu" class="md-icon-button" ng-click="links.notifications.update(notification)"><md-icon md-font-icon="material-icons md-16">save</md-icon></md-button>
			<md-input-container flex>
			  <label translate="notification.name"></label>
			  <input ng-model="notification.name" disabled>
			</md-input-container>
			<md-button aria-label="menu" class="md-icon-button" ng-click="links.notifications.drop(notification)"><md-icon md-font-icon="material-icons md-16">delete</md-icon></md-button>
	     </div>
     </div>
</div>