<app-jarvis-toolbar-resource [notified]="this" [crud]="true"></app-jarvis-toolbar-resource>

<div *ngIf="myConnector">
  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myConnector.name">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myConnector.icon">
            </mat-input-container>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Réseau ({{myConnector.lastAdvertise | date:'yyyy-MM-dd HH:mm:ss Z'}})">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Adresse (192.168.1.1)" [(ngModel)]="myConnector.adress">
            </mat-input-container>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-3">
            <mat-checkbox [(ngModel)]="myConnector.isRenderer">Affichage</mat-checkbox>
          </div>
          <div class="ui-grid-col-3">
            <mat-checkbox [(ngModel)]="myConnector.isSensor">Capteur</mat-checkbox>
          </div>
          <div class="ui-grid-col-3">
            <mat-checkbox [(ngModel)]="myConnector.canAnswer">Intéractif</mat-checkbox>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab *ngIf="myConnector.collects" label="Collecte(s)">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <p-dataTable [immutable]="false" [value]="myConnector.collects.collections">
          <header>Collectes</header>
          <p-column field="name" header="Nom"></p-column>
          <p-column header="Detail">
            <ng-template let-detail="rowData.entity" let-keys="rowData.keys" pTemplate="body">
              <ul>
                <li *ngFor="let field of keys; let index=index">{{field}}</li>
              </ul>
              {{detail | json}}
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>