<app-jarvis-toolbar-resource [notified]="this" [crud]="true"></app-jarvis-toolbar-resource>

<div *ngIf="myConnector">
  <p-accordion>
    <p-accordionTab header="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Nom
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myConnector.name" placeholder="Nom" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Icône
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myConnector.icon" placeholder="Icône" />
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab header="Réseau">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Adresse réseau
          </div>
          <div class="ui-grid-col-8">
            <input type="text" pInputText [(ngModel)]="myConnector.adress" placeholder="192.168.1.1" />
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Dernier échange
          </div>
          <div class="ui-grid-col-8">
            {{myConnector.lastAdvertise | date:'yyyy-MM-dd HH:mm:ss Z'}}
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Composant d'affichage
          </div>
          <div class="ui-grid-col-8">
            <p-checkbox binary="true" label="Oui/Non" [(ngModel)]="myConnector.isRenderer"></p-checkbox>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Composant capteur
          </div>
          <div class="ui-grid-col-8">
            <p-checkbox binary="true" label="Oui/Non" [(ngModel)]="myConnector.isSensor"></p-checkbox>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Composant intéractif
          </div>
          <div class="ui-grid-col-8">
            <p-checkbox binary="true" label="Oui/Non" [(ngModel)]="myConnector.canAnswer"></p-checkbox>
          </div>
        </div>
      </div>
    </p-accordionTab>
    <p-accordionTab *ngIf="myConnector.collects" header="Collecte(s)">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <p-dataTable [value]="myConnector.collects.collections">
          <header>Collectes</header>
          <p-column field="name" header="Nom"></p-column>
          <p-column header="Detail">
            <template let-detail="rowData.entity" let-keys="rowData.keys" pTemplate type="body">
              <ul>
                <li *ngFor="let field of keys; let index=index">{{field}}</li>
              </ul>
              {{detail | json}}
            </template>
          </p-column>
        </p-dataTable>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>
