<app-jarvis-toolbar-resource [notified]="this" [crud]="true" [tasks]="[{'task':'handleChange','icon':'fa-bolt','label':'Collect'}]"
  [pickers]="[{'label':'Lier une mesure', 'icon': 'fa-podcast', 'action':'measures', 'picker': pickMeasures}]"></app-jarvis-toolbar-resource>

<div *ngIf="myDataSource">
  <mat-tab-group>
    <mat-tab label="Entête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Nom" [(ngModel)]="myDataSource.name">
            </mat-input-container>
          </div>
          <div class="ui-grid-col-6">
            <mat-input-container class="input-full-width">
              <input matInput placeholder="Icône" [(ngModel)]="myDataSource.icon">
            </mat-input-container>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Mesures">
      <p-dataTable [immutable]="false" [value]="myDataSource.measures">
        <header>Connecteurs</header>
        <p-column field="extended.order" header="Ordre"></p-column>
        <p-column field="id" header="Id"></p-column>
        <p-column field="instance" header="Instance"></p-column>
        <p-column field="name" header="Nom"></p-column>
        <p-column header="Action">
          <ng-template let-measure="rowData" pTemplate="body">
            <app-jarvis-toolbar-resource [notified]="this" [tasks]="[{'task':'dropMeasureLink','args':[measure],'icon':'fa-trash','label':'Supprimer le lien'},{'task':'gotoMeasureLink','args':[measure],'icon':'fa-link','label':'Détail'}]"></app-jarvis-toolbar-resource>
          </ng-template>
        </p-column>
      </p-dataTable>
    </mat-tab>
    <mat-tab label="Requête">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <p-toggleButton [(ngModel)]="delta"></p-toggleButton>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Début
          </div>
          <div class="ui-grid-col-8">
            <p-calendar [(ngModel)]="beginDate" showTime="showTime" hourFormat="24" readonlyInput="true" (onSelect)="handleChange($event)"></p-calendar>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Fin
          </div>
          <div class="ui-grid-col-8">
            <p-calendar [(ngModel)]="endDate" showTime="showTime" hourFormat="24" readonlyInput="true" (onSelect)="handleChange($event)"></p-calendar>
          </div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            Trunc {{truncateDate}}
          </div>
          <div class="ui-grid-col-8">
            <p-slider [(ngModel)]="truncateDate" (onChange)="handleChange($event)"></p-slider>
          </div>
        </div>
      </div>
      <p-fieldset legend="Query" toggleable="true">
        {{myDataSource.body|json}}
      </p-fieldset>
    </mat-tab>
  </mat-tab-group>
  <p-chart #chart type="line" [data]="chartData" (onDataSelect)="selectData($event)"></p-chart>
</div>

<app-jarvis-picker #pickMeasures [resource]="{'service':'measures','label':'Measures'}"></app-jarvis-picker>